.profile-head-div{
    color: #FFF;
    display: flex;
    justify-content: space-around;
    div{
        box-sizing: border-box;
    }
    .left-div{
        display: flex;
        flex-direction: column;

        width: 200px;
        height: 400px;

        border-right: 1px #FFF solid;
        border-bottom: 1px #FFF solid;

        border-radius: 20px;
        padding: 20px;
    }
    .left-div-header{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .right-div{
        display: flex;
        flex-direction: column;

        width: 200px;
        height: 400px;

        border-left: 1px #FFF solid;
        border-bottom: 1px #FFF solid;

        border-radius: 20px;
        padding: 20px;
    }
}