@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  padding-top: 80px;
  background: #00501e;
  font-family: 'Public Sans', sans-serif;
}
button{
  cursor: pointer;
}

.marquee-infinite {
  overflow: hidden;
}

/*Здесь можно поиграть со свойством width: mac-content*/
.marquee-infinite div {
  display: flex;
  width: 200%;
  animation: marquee-infinite 15s linear infinite;
}
.marquee-infinite-right div {
  display: flex;
  width: 200%;
  animation: marquee-infinite-right 15s linear infinite !important;
}

.marquee-infinite span {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.marquee-infinite:hover div {
  animation-play-state: paused;
}

@keyframes marquee-infinite {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
}
@keyframes marquee-infinite-right {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(50%);
  }
}
.marquee-div{
  cursor: pointer;
  background: black;
  width: 217px;
  height: 52px;
  box-sizing: border-box;
  max-width: 217px;
  margin: 5px 20px;
  border-radius: 50px;
  padding: 1px;

  font-weight: 600;

  display: flex;
  align-items: center;
  color: #FFF;
  justify-content: space-between;
  padding-right: 30px;
}
.marquee-div img{
  width: 50px;
  height: 50px;
}